*.o

# Out files
CPP00/ex00/megaphone
CPP00/ex01/phonebook
CPP00/ex02/expected
CPP00/ex02/output
CPP00/ex02/out

#CPP01
CPP01/ex00/zombie
CPP01/ex01/zombie
CPP01/ex02/ex02_out
CPP01/ex03/ex03_out
CPP01/ex04/ex04_out
CPP01/ex05/ex05_out
CPP01/ex06/harlFilter
*.replace

#CPP02
CPP02/ex00/ex00_out
CPP02/ex01/ex01_out
CPP02/ex02/ex02_out

#CPP03
CPP03/ex00/ex00_out
CPP03/ex01/ex01_out
CPP03/ex02/ex02_out
CPP03/ex03/ex03_out

#CPP04
CPP04/ex00/ex00_out
CPP04/ex01/ex01_out
CPP04/ex02/ex02_out

.idea
